<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>姓名案例_methods实现</title>
        <!-- 引入vue -->
        <script type="text/javascript" src="../JS/vue.js"></script>
    </head>
    <body>
        <div id="root">
            姓: <input type="text" v-model="firstName"> <br/><br/>
            名:<input type="text" v-model="lastName"> <br/><br/>
            姓名：<span>{{fullName}}</span> <br/><br/>
        </div>
    </body>
    <script type="text/javascript">
        Vue.config.productionTip = false
        new Vue({
            el:'#root',
            data:{
                firstName:"张",
                lastName:"三",
                fullName:"张-三"
            },
            watch:{
                firstName(newValue){
                    //setTimeout的回调是JS引擎的回调，调用的时候this是window
                    //箭头函数，没有自己的this，往外找，找到了firstName的this
                    //使用vm的功能，不能使用箭头函数
                    setTimeout(()=>{
                        this.fullName = newValue+'-'+this.lastName
                    },1000);                    
                },
                lastName(newValue){
                    this.fullName = this.firstName+'-'+newValue
                }
            }
        })
    </script>
</html>